#about {
    background:#8A8A96;
}

#nav {
    background: #8A8A96;
}

.navbar-custom { 
    background: #8A8A96;
    color: white;
}

.container {
    margin-bottom: 25px;
    background: #8A8A96;
}

.card {
    background: #8A8A96;
    margin-bottom: 25px;
    border: none;
    color: #c0c6d1;
}

#banner {
    background-image: url("resources/IMG_0798.JPG");
    background-size: cover;
    background-position: -10px;
    min-height: 400px;
}

body {
    background-image: linear-gradient(#FFE4BB, #FFB8A3) !important;
}

/* FFE4BB start
FFB8A3 end
*/